/* Спецификация */

body {
    font-family: 'Fira Sans', sans-serif;
}

h2 {
    display: block;
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
}

p {
    font-size: 18px;
    line-height: 27px;
    color: #686868;
}

/* AboutUs */

.info {
    text-align: center;
}

.aboutus {
    margin: 120px 0 120px 0;
}

.aboutus__desc {
    margin-bottom: 120px;
}

.aboutus__desc p {
    white-space: inherit;
}

.sponsors {
    margin-bottom: 60px;
}

.sponsors__list {
    margin-bottom: 210px;
}

.sponsors__list p {
    margin-bottom: 30px;
}