/* Contacts */

.contacts__list a,
.contacts__list p {
    font-size: 18px;
    line-height: 27px;
    color: #686868;
    text-decoration: none;
}

.contacts__list a:hover {
    color: #ffffff;
}

.Contacts {
    text-align: center;
}

.contacts {
    margin: 120px 0 120px 0;
}

.Contacts li {
    margin-bottom: 30px;
}

.contacts__list {
    margin-bottom: 210px;
}