/* Спецификации*/


h1 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
}

p{
    white-space: nowrap;
}
/* main */

.lion {
    position: absolute;
    z-index: -1;
    right: 9%;
}

.lion__image {
    width: 100%
}

.more h1 {
    margin: 210px 0 25px 0;
    color: #ffffff;
    font-size: 72px;
    line-height: 86px;
}

.more p {
    display: block;
    font-size: 20px;
    line-height: 27px;
    color: #686868;
    text-decoration: none;
    margin: 0 0 77px 0;
}

.yellow {
    color: #D8C14F;
}

.more__button {
    width: 200px;
    height: 60px;
    border: 0;
    background: #D8C14F;
    line-height: 24px;
    font-weight: bold;
    color: #101010;
    border-radius: 5px;
    margin-bottom: 240px;
    cursor: pointer;
}

.more__button a{
    font-size: 18px;
    font-weight: 450;
    color: #101010;
}
/* quests-locations-mostpop */

.verical-text {
    transform: rotate(-90deg);
    transform-origin: left top 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 100%;
    float: bottom;
}

.namesort {
    width: 36px;
    margin-right: 55px;
    margin-top: 450px;
}

.pop-location {
    margin-top: 475px;
}

.pop-mostpop {
    margin-top: 425px;
}

.mnone {
    margin-bottom: 150px;
}

.margin{
    margin-bottom: 90px;
}
