h1 {
    margin: 120px 0 140px 0;
}

p {
    margin: 0px;
}

.pay {
    margin-bottom: 160px;
}

.card {
    padding: 40px 0 0 40px;
    ;
    width: 400px;
    height: 240px;
    background: #D8C14F;
    border-radius: 10px;
}

.card h1 {
    color: #393939;
    font-size: 25px;
    line-height: 30px;
    margin: 0px;
}

.card h2 {
    white-space: pre;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}

.card__item div {
    width: 30px;
    height: 20px;
    background: #ffffff;
    border-radius: 5px;
    margin: 0 136px 0 0;
}

.card__item {
    margin: 28px 0 0 0;
    color: #686868;
    font-size: 13px;
    line-height: 15px;
}

.card__item h2 {
    color: #ffffff;
    font-size: 25px;
    line-height: 30px;
}

.card__item p {
    font-size: 13px;
    line-height: 15px;
}

.card__item span {
    margin-left: 20px;
    color: #ffffff;
    font-size: 22px;
    line-height: 30px;
}

.card__item2 h2 {
    color: #686868;
    font-size: 18px;
    line-height: 30px;
    margin: 10px 102px 0 0;
}

.visa {
    background: #ffffff;
    width: 50px;
    height: 33px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    padding-top: 4px;
    color: #000000;
    font-weight: 600;
}

.confirm {
    font-size: 15px;
    line-height: 25px;
    margin-top: 77px;
}