/* Sort */

.sort__name {
    margin: 120px 0 120px 210px;
}

.sort__name li {
    margin-right: 139px;
}

.sort__name li a {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    white-space: nowrap;
}

/* Popular */

.pop {
    margin-top: 350px
}

/* Historical */

.history {
    margin-top: 270px;
}

/* In room */

.room {
    margin-top: 155px ;
}