/* Rating */

.rating h1{
    display: block;
    margin-top: 40px;
    padding: 0;
}

.lion p {
    white-space: nowrap;
    font-size: 18px;
    line-height: 27px;
    color: #686868;
    text-decoration: none;
}

.rating {
    margin-top: 78px;
    text-align: center;
}

.rating__item {
    margin-top: 120px;
    text-align: center;
}

.rating__item td {
    text-align: center;
    width: 150px;
}