/* Спецификация */

body {
    font-family: 'Fira Sans', sans-serif;
    background: url(../../img/fon.png);
}

ul,
li,
label {
    display: block;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
    color: #ffffff;
}

/* Регистрация */

.forms {
    padding-top: 80px;
}

.registrations {
    text-align: center;
    color: #ffffff;
    font-size: 33px;
    font-weight: initial;
    line-height: 36px;
    padding-bottom: 80px;
}

.form {
    text-align: center;
}

.form__input {
    color: #686868;
    background: #11111100;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    width: 400px;
    height: 60px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #393939;
    margin-bottom: 80px;
    outline: none;
}

.form__btn {
    width: 200px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 240px;
    background: #D8C14F;
    font-family: 'Fira Sans', sans-serif;
    color: #101010;
    line-height: 26px;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    outline: none;
}

.form__input:hover {
    border: 0;
    border-bottom: 1px solid #393939;
}

.lion {
    width: 350px;
}

/* footer */

.footer {
    background: #000000;
    height: 240px;
}

.social {
    color: #ffffff;
    margin-right: 50px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
}

.social__tel {
    color: #A2A2A2;
    white-space: nowrap;
    padding-left: 40px;
}

.footer__item {
    color: #A2A2A2;
    margin-right: 80px;
    white-space: nowrap;
}

.footer__item:hover {
    color: #BBBBBB;
}

.footer__soc {
    margin-top: 80px;
    margin-left: 70px;
}

.footer__tel {
    margin-top: 12px;
    margin-right: 220px;
}