.bar {
    background: #000000;
    position: fixed;
    width: 260px;
    height: 100%;
    z-index: 1;
    left: -260px;
    transition: left 0.3s;
}

.barlist {
    text-align: center;
}

.bar__exit {
    margin: 54px 0 120px 0;
}

.bar__exit div {
    height: 20px;
    text-align: center;
    display: inline-block;
}

.close {
    display: block;
    margin: 0;
    height: 20px;
    cursor: pointer;
}

.gf:checked ~ .bar {
    left: 0;
}

.exit {
    width: 20px;
}

.bar__logo {
    margin-bottom: 90px;
}

.bar__acc {
    color: #686868;
    margin-bottom: 60px;
}

.acc {
    width: 75px;
    margin-bottom: 15px;
}

.bar__list {
    display: block;
    margin-bottom: 30px;
}

.bar__list a {
    color: #393939;
}

.bar__list a:hover {
    color: #ffffff;
}


.bar__list:nth-child(7) {
    margin-bottom: 190px;
}

.bar__reg {
    padding-bottom: 15px;
}
