.header {
    height: 120px;
    padding-top: 42px;
}

.menu {
    margin-top: 7px;
}

.menu__item {
    font-size: 18px;
    margin: 0 40px;
}

.menu__item a {
    padding-bottom: 15px;
    position: relative;
    white-space: nowrap;
}

.menu__item a::after {
    content: ' ';
    display: block;
    position: absolute;
    background-color: #D8C14F;
    height: 1px;
    width: 0%;
    bottom: 0;
    left: 50%;
    transition: width 0.15s ease-in-out;
    transform: translateX(-50%);
}

.menu__item a:hover::after {
    width: 100%;
}

.menu__item .active:after{
    width: 100%;  
}
.last {
    margin-right: 0px;
}

.first {
    margin-left: 0px;
}

.logoname {
    color: #ffffff;
    font-size: 30px;
    font-weight: italic;
    line-height: 36px;
}

.logocolor {
    color: #D8C14F;
}

.menuimg {
    height: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.search {
    height: 23px;
    margin-top: 12px;
    cursor: pointer;
}
