.quest {
    visibility: visible;
    background: #000000;
    width: 511px;
    height: 720px;
    margin: 0 30px 90px 0;
    text-align: left;
    transition: width 0.2s ease-in-out;
}

.quest__image {
    height: 380px;
    background: #686868;
}

.quest__stars{
    height: 20px;
    margin-left: 60px;
}   
.quest__stars img{
    height: 100%;
    margin-right:5px; 
}

.quest h1 {
    font-size: 25px;
    font-weight: 30px;
    margin: 44px 60px 16px;
}

.quest p {
    margin: 33px 60px 36px;
    height: 79px;
    font-weight: 27px;
    color: #A2A2A2;
    white-space: inherit;
}

.quest__button {
    width: 100%;
    height: 72px;
    border: 0;
    border-top: 1px solid #686868;
    font-size: 18px;
    font-weight: 22px;
    background: #000000;
    color: #686868;
    cursor: pointer;
    text-align: center;
    padding-top: 25px;
}
.quest__check:checked ~ .quest {
    width: 1520px;
 }